<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fcmhms-rgpd" version="0.1.7"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Google Firebase and Huawei API Plugin, GDPR compliant</name>

	<license>MIT</license>

	<engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
	</engines>

  <js-module name="FCMHMSPlugin" src="www/fcmhms.js">
    <clobbers target="FCMHMSPlugin" />
  </js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FCMHMSPlugin">
				<param name="android-package" value="org.apache.cordova.fcmhms.FCMHMSPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
      <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
      <meta-data android:name="push_kit_auto_init_enabled" android:value="false" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="org.apache.cordova.fcmhms.FirebasePluginMessagingService" android:exported="true">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
			<receiver android:name="org.apache.cordova.fcmhms.OnNotificationOpenReceiver"></receiver>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="org.apache.cordova.fcmhms.CordovaHmsMessageService" android:exported="true">
        <intent-filter>
          <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
        </intent-filter>
      </service>
		</config-file>

		<resource-file src="src/android/cordova-plugin-fcmhms-strings.xml" target="res/values/cordova-plugin-fcmhms-strings.xml" />

		<source-file src="src/android/FCMHMSPlugin.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/OnNotificationOpenReceiver.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/FirebasePluginMessagingService.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/FirebasePluginMessageReceiver.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/FirebasePluginMessageReceiverManager.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/CordovaHmsMessageService.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/CordovaHmsMessageReceiver.java" target-dir="src/org/apache/cordova/fcmhms" />
		<source-file src="src/android/CordovaHmsMessageReceiverManager.java" target-dir="src/org/apache/cordova/fcmhms" />

		<framework src="src/android/fcmhms.gradle" custom="true" type="gradleReference" />
    <framework src="com.google.android.gms:play-services-base:+" />
    <framework src="com.huawei.hms:push:+" />
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="FCMHMSPlugin">
				<param name="ios-package" value="FCMHMSPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>
    <config-file parent="FirebaseMessagingAutoInitEnabled" target="*-Info.plist">
      <string>no</string>
    </config-file>
		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>remote-notification</string>
			</array>
		</config-file>

		<resource-file src="src/ios/GoogleService-Info.plist" />

		<header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
		<source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
		<header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />


		<podspec>
			<config>
				<source url="https://cdn.cocoapods.org/"/>
			</config>
			<pods use-frameworks="true">
				<pod name="Firebase/Core" spec="~> 6.30.0"/>
				<pod name="Firebase/Messaging" spec="~> 6.30.0"/>
				<pod name="Firebase/RemoteConfig" spec="~> 6.30.0"/>
			</pods>
		</podspec>
	</platform>

	<hook src="scripts/after_prepare.js" type="after_prepare" />
	<hook src="scripts/after_plugin_install.js" type="after_plugin_install" />
	<hook src="scripts/before_plugin_uninstall.js" type="before_plugin_uninstall" />
</plugin>
